<div class='row d-flex justify-content-center mt-5'>
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h2>PAGE NOT FOUND</h2>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h2>404</h2>
    </div>
    <div class="col-3"></div>
</div>
<div class='row d-flex justify-content-center mt-5'>
    <div class="col-12 d-flex justify-content-center">
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">TO DASHBOARD</a>
    </div>
</div>
